<h1> <%= @user.email %> Events </h1>

<ul>
  <h3> Created Events: </h3>
  <% @user.created_events.each do |event| %>
  <div>
    <p> <%= "Date: #{event.date}" %> </p>
    <p> <%= "Location: #{event.location}"%> </p>
    <p> <%= button_to "Update", edit_event_path(event.id), method: :get %> </p>
    <p> <%= button_to "Delete", event_path(event), method: :delete %> </p>
  </div>
  <% end %>
</ul>

<h4> Attended Events </h4>
<div>
  <ul>
    <% past_events = @user.attended_events.where(date: ..Date.current) %>
    <% past_events.each do |event| %>
    <div>
      <p> <%= "Date: #{event.date}" %> </p>
      <p> <%= "Location: #{event.location}"%> </p>
      <p> <%= button_to "Update", edit_event_path(event.id), method: :get %> </p>
      <p> <%= button_to "Delete", event_path(event), method: :delete %> </p>
    </div>
    <% end %>
  </ul>
</div>

<h4> Future Events </h4>

<div>
  <ul>
    <% future_events = @user.attended_events.where(date: Date.current..) %>
    <% future_events.each do |event| %>
    <div>
      <p> <%= "Date: #{event.date}" %> </p>
      <p> <%= "Location: #{event.location}"%> </p>
      <p> <%= button_to "Update", edit_event_path(event.id), method: :get %> </p>
      <p> <%= button_to "Delete", event_path(event), method: :delete %> </p>
    </div>
    <% end %>
  </ul>
</div>