<h1>Events</h1>

<ul>
  <h3> Future Events </h3>
  <% Event.future.each do |event| %>
  <div>
    <p> <%= event.date.strftime('%m/%d/%Y') %> <%= event.event_time.strftime('%I:%M %p') %> </p>
    <p> <%= event.location %> </p>
    <p> <%= event.creator.try(:email) %> </p>

    <% if EventAttending.exists?(attendee_id: current_user.id, attended_event_id: event.id) %>
      <%= button_to 'Unattend Event', '/event_attenders/destroy', method: :delete, params:{ event_attending: {attendee_id: current_user.id, attended_event_id: event.id }} if user_signed_in?%>
    <% else %>
      <%= button_to "Attend Event", event_attenders_path, params:{ event_attending: {attended_event_id: event.id }}, method: :post%>
    <% end %>
    
    <details>
      <summary>Show Attendees</summary>
    <p> <%= event.attendees.map {|attendee| attendee.email }.join(', ')%> </p>
    </details>
  </div>
  <% end %>
</ul>

<ul>
  <h3> Past Events </h3>
  <% Event.past.each do |event| %>
  <div>
    <p> <%= event.date.strftime('%m/%d/%Y') %> <%= event.event_time.strftime('%I:%M %p') %> </p>
    <p> <%= event.location %> </p>
    <p> <%= event.creator.try(:email) %> </p>
    <details>
      <summary>Show Attendees</summary>
    <p> <%= event.attendees.map {|attendee| attendee.email }.join(', ')%> </p>
    </details>
  </div>
  <% end %>
</ul>